{%extends 'layouts/base.html' %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>muestra de toda la lista de projectos creados en la base de datos de Django</h1>

    {% for n in project %}

    <article class="card">
        <a href="">
            <h1>{{n.name}}</h1>
        </a>
    </article>
    {% endfor %}
    

</body>
</html>
{%endblock%}