body{
    background: antiquewhite;
    color: darkblue;
}

.navbar{
    background: #404040;
    color: white;
    padding: 10px 5px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:chocolate;
    text-decoration: underline;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.card{
    background: #138371;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 2px;
}