<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Este es el about del programa</h1>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, qui. Repellendus, minus praesentium officia voluptate, ea sapiente ut eveniet, nisi harum similique tenetur maiores et. Molestias doloremque ducimus eveniet itaque?
    Ad, accusamus? Soluta est fugiat, officia ea tempora accusantium tempore enim cupiditate assumenda ipsa odio molestias error minus eius placeat odit quaerat repellat dignissimos nemo praesentium rem pariatur. Eaque, laudantium.
    </p>


    <p>This website was created for {{username}}</p>
</body>
</html>